<!-- 
Filename:header.ejs
Student: Nabanita Saha
StudentId: 301321662
Date: Oct 01, 2023 
-->
<div id=footerLogo>
  <a id="footerLogo" href="https://www.facebook.com/nabanita.trina/">
    <i class="fab fa-facebook"></i>
  </a>

  <a href="https://www.linkedin.com/in/nabanita-saha-440784130/">
    <i class="fab fa-linkedin"></i>
  </a>

  <a href="https://www.instagram.com/nabanita.trina/">
    <i class="fab fa-instagram"></i></a>

  <a href="https://twitter.com/NabanitaTrina">
    <i class="fab fa-twitter"></i></a>
  <br>
</div>
<footer>

  <!-- Scripts -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/appclient.js"></script>

  <!-- copyright -->
  <p id="copyright">&#127810; &copy; &nbsp;Nabanita Saha | ID: 301321662 | All right reserved &#127810;</p>
</footer>

</body>

</html>