<%- include('partials/header') %>

  <h1 id="textLarge">Nabanita Saha</h1>
  <!-- My image -->

  <img class="center" src="/images/nabanita0.jpg" width="400" height="400" alt="nabanita" />

  <!-- info -->

  <div id="aboutText">
    Hello, I'm Nabanita Saha. I aspire to become a skilled software engineer, and
    I am deeply passionate about web design and software development. My ultimate
    goal is to create outstanding software solutions that have a positive impact
    on the lives of people from diverse backgrounds.
    <br />

    <button type="button">
      <a id="aboutText" class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
        <i class="fas fa-download me-2"></i>
        Download My Resume
      </a>
    </button>
  </div>

  <%- include('partials/footer') %>