<%- include('partials/header') %>

    <h1 id="textLarge">
        <%= title %>
    </h1><br>
    <!-- contact details -->
    <div id=contactLogo>
        <p>Contact No <i class="fas fa-phone-square"></i>:+123 456 78910</i></p>
        <p>Email Address <i class="fas fa-envelope-open-text"></i>:nabanitasaha23@gmail.com</p></a>
    </div>

    <fieldset>
        <!-- fillable form -->
        <h2>Kindly share your message</h2><br>

        <form name='regForm'>
            <p><label for="fname">First name:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="fname" tabindex="1" size="27" />
            </p>
            <p><label for="lname">Last name:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="lname" tabindex="3" size="27" />
            </p>
            <p><label for="email">Email:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="text" name="email" tabindex="5" size="27" />
            </p>
            <p><label for="phone">Phone:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                <input type="number" name="phone" tabindex="7" size="27" />
            </p>
            <p><label for="messeage">Message:<sup style="color:rgb(0, 0, 0)">*</sup> </label>
                ​<textarea id="txtArea" name="messeage" rows="5" cols="25"></textarea>
                <br>
                <input class="button" type="submit" name="submit" value="Send" tabindex="21"
                    onClick="return formValidation();" />
                <input class="button" type="reset" name="reset" value="Clear" tabindex="21"
                    onClick="return confirmreset()" />


        </form><br>
    </fieldset>
    </div>

    <%- include('partials/footer') %>