<%- include('partials/header') %>



  <h1 id="textLarge">Welcome to Nabanita Saha's Portfolio Page</h>
    <br>
    <br>
    <img class="center" src="/images/nabanita1.jpg" width="300" height="300" alt="nabanita">
    <!-- Mission statement -->

    <h2 id="textLarge"> Mission</h2>
    <div id="aboutText">
      As a first-generation immigrant in Canada, my mission is twofold:
      I aim to establish a successful career in this competitive landscape while also
      providing financial support to my family. I'm dedicated to creating innovative
      and accessible projects that address real-world challenges and
      enhance efficiency and productivity, benefiting a wide range of individuals,
      including those with diverse needs.
    </div>
    <br><br>

<!-- Link to About Me Page -->
<div class="button-container">
  <a class="btn btn-xl btn-outline-dark" href="/about">
      Learn More About Me
  </a>
</div>

<br><br>
    <%- include('partials/footer') %>