<%- include('partials/header') %>

<h1 id="textLarge"><%= title %></h1>
<!-- project description -->
<div id="projects">
  <h3>
    The English Byte v1.0.3 Application (Software Requirements Specification)
  </h3>
  <p>
    The English Byte v1.0.3 app aims to address the challenges of language
    acquisition by providing a personalized, flexible, and affordable solution
    for English language learning. It leverages advanced technologies such as
    artificial intelligence and machine learning to offer tailored lessons that
    adapt to the unique learning curve of each user. The goal is to make English
    language learning accessible, engaging, and effective for everyone,
    regardless of their age, professional commitments, financial constraints, or
    prior knowledge of the language.
  </p>
  <p>
    Technical: Visual Paradigm, Visio, Microsoft Teams, SharePoint, GoogleDoc,
    PowerPoint, Whatsapp .
  </p>
  <img src="/images/englishApp.jpg" alt="EnglishApp" /><br /><br />
</div>

<div id="projects">
  <h3>Dynamic Table Generator App</h3>
  <p>
    The Dynamic Table Generator is a versatile web application designed to
    empower users to create customizable tables effortlessly. This app offers
    the flexibility to generate dynamic tables on the fly, allowing users to
    input and manipulate data with ease. It provides a seamless experience for
    organizing and visualizing information.
  </p>
  <p>Technical: HTML, CSS, JavaScript</p>
  <a
    href="https://studentweb.cencol.ca/nsaha7/comp125/Assignment%201/assignment1.html"
    >Dynamic Table Generator</a
  >

  <img class="center" src="/images/dtg.jpg" alt="dtg" /><br /><br />
</div>

<div id="projects">
  <h3>Bug smasher game</h3>
  <p>A simple and enjoyable touch-based game for leisure and entertainment</p>
  <p>Technical: HTML, CSS, JS</p>
  <a href="http://studentweb.cencol.ca/nsaha7/comp125/assignment3/index.html"
    >Bug Smasher</a
  >

  <img class="center" src="/images/ladybug.jpg" alt="Bug" /><br /><br />
</div>

<div id="projects">
  <h3>Form Validation and Field Copy App</h3>
  <p>
    A web application that enables users to validate form fields, copy data
    between addresses, and improve data accuracy through placeholders.
  </p>
  <p>Technical: HTML, CSS, JS</p>
  <a href="http://studentweb.cencol.ca/nsaha7/comp125/midterm/index.html"
    >Form Validation and Field Copy App</a
  >

  <img
    class="center"
    src="/images/midterm.jpg"
    alt="Form Validation and Field Copy App"
  /><br /><br />
</div>

<div id="projects">
  <h3>Real Estate Agent Website</h3>
  <p>
    Designed and developed a public website for a local real estate agent
    featuring professional profiles, property listings, contact forms, and a
    user-friendly layout with light and airy design elements.
  </p>
  <p>Technical: HTML & CSS</p>
  <a
    href="file:///E:/centennial/1st%20semester/Web%20Interface%20Design%20(SEC.%20407)%20-%20COMP213407_2023W/Final%20Project/Final%20Project/index.html"
    >Real Estate Agent Website Development</a
  >

  <img
    class="center"
    src="/images/realEstate.jpg"
    alt="Real Estate Agent Website"
  /><br /><br />
</div>

<div id="projects">
  <h3>Bank Account Management App</h3>
  <p>
    A Windows Application for bank employees to create and manage checking and
    visa accounts, with a GUI for user-friendly interactions and data storage.
  </p>
  <p>
    Technical Stack: .NET Framework, C#, Windows Forms, List data structure,
    Try-Catch error handling.
  </p>
  <a
    href="file:///E:/centennial/1st%20semester/Web%20Interface%20Design%20(SEC.%20407)%20-%20COMP213407_2023W/Final%20Project/Final%20Project/index.html"
    >Bank Account Management App</a
  >

  <img
    class="center"
    src="/images/programming2.jpg"
    alt="Bank Account Management App"
  /><br /><br />
</div>
<br /><br />

<%- include('partials/footer') %>
