<%- include('partials/header') %>

  <h1 id="textLarge">
    <%= title %>
  </h1>
  <!-- services -->
  <div id="aboutText">
    <p> Here are a few of the services I can provide to you!</p>
    <table class="tableCenter" style="width: 50%">
  </div>

  <div>
    <table>
      <i id="languageLogo" class="devicon-csharp-plain-wordmark colored"></i>
      <i id="languageLogo" class="devicon-python-plain-wordmark colored"></i>
      <i id="languageLogo" class="devicon-javascript-plain colored"></i>
      <i id="languageLogo" class="devicon-html5-plain-wordmark colored"></i>
    </table>
    <table><i id="languageLogo" class="devicon-css3-plain-wordmark colored"></i>
      <i id="languageLogo" class="devicon-mysql-plain-wordmark colored"></i>
      <i id="languageLogo" class="devicon-java-plain-wordmark colored"></i>
      <i id="languageLogo" class="devicon-nodejs-plain colored"></i>
      <i id="languageLogo" class="devicon-react-original-wordmark colored"></i>
    </table>
  </div>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  



  <%- include('partials/footer') %>